.introductionContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
}

.introductionHeaderContainer {
    display: flex;
    flex-direction: row;
    font-size: 1.3vw;
}

.introductionHeaderNumber {
    color: #74dff6;
    margin-top: 0px;
    margin-right: 20px;
}

.introductionHeader {
    margin-top: 0px;
}

.introductionTopContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68%;
    margin-bottom: 0px;
    height: fit-content;
}

.introductionTopLeftContainer {
    width: 46%;
    margin-right: 4%;
}

.introductionTopRightContainer {
    width: 46%;
    margin-left: 4%;
}

.introductionParagraph {
    text-align: start;
    font-size: 1.2rem;
}

.introductionProfilePicture {
    width: 100%;
    height: 80%;
    padding: 20px;
    border-right: 3px solid #74dff6;
    border-top: 3px solid #74dff6;
    object-fit: cover;
    transition-duration: 0.3s;
}

.introductionProfilePicture:hover {
    transform: scale(1.03);
}

.introductionIconRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    height: fit-content;
    width: 68%;
}

.introductionIcon {
    height: 22%;
    width: 22%;
    object-fit: cover;
    padding: 20px;
    padding-top: 0px;
    transition-duration: 0.3s;
}

.introductionIcon:hover {
    transform: scale(1.1);
}

.introductionReactIcon {
    height: 12%;
    width: 12%;
}

.highlight {
    color: #4bb7e5;
}
