.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    width: 80%;
    padding-left: 20%;
}

.homeIntro {
    font-size: 2rem;
    margin-bottom: 0px;;
}

.homeName {
    font-family: 'Poppins';
    font-size: 7rem;
    color: #74dff6;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.homeSubtitle {
    margin-top: 10px;
    color: #4bb7e5;
    font-size: 1.7rem;
}

.homeSubtitleDivider {
    color: #1468a2;
}

.homeDescription {
    width: 55%;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: start;
    margin-bottom: 30px;
}