.sidebarContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 6.3%;
    margin-top: 10px;
}

.sidebarIconImage {
    height: 70px;
    width: 70px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.sidebarIconImage:hover {
    transform: scale(1.2);
}