.sidebarContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 6.3%;
    transition: 0.3s;
    animation: slideIn 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% { margin-top: 100%; }
    100% { margin-top: 8%; }
}

.sidebarIconImage {
    height: 10vh;
    width: 10vh;
    cursor: pointer;
    transition-duration: 0.3s;
}

.sidebarIconImage:hover {
    transform: scale(1.2);
}

.sidebarLine {
    border-left: 2px solid #74dff6;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}