@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c2143;
  color: #1468a2;
}

html {
  scroll-behavior: smooth;
}
